/*----------------------------------Body-------------------------------------------*/
.DashBoardBodyCommon
{
    overflow: auto;
    width: 100%;
    height: 100%;
}

#DashboardAdmin
{
    background-color: white;
    background-image: url("../../media/Arts/dashboard-admin-mobile.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 
}

#DashboardStaff
{
    background-color: white;
    background-image: url("../../media/Arts/dashboard-staff-mobile.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 
}

#DashboardMember
{
    background-color: white;
    background-image: url("../../media/Arts/dashboard-member-mobile.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 
}

/*----------------------------------First Palette-------------------------------------------*/

.ContentHeading
{
    font-size: 2em;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.DashboardPalette
{
    text-align: center;  
    margin: 20px 10px 20px 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

#OrgInfoPalette
{
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
    background-size: 200%;
}

#StaffInfoPalette
{ 
    padding-bottom: 10px;
    background: #457fcac0;
    background: linear-gradient(to bottom, #5674c8c0, #005C97c0);

}

#MemberInfoPalette
{  
    background: #dc2424;
    background: linear-gradient(to right, #dc2424a6, #4a569da6);
    padding-bottom: 10px;
}

/*----------------------------------Second Palette-------------------------------------------*/

#StaffDetailsPalette
{
    text-align: left;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#StaffEventsPalette
{
    text-align: left;
    background: #005C97c0;
    background: linear-gradient(to top, #363795c0, #005C97c0);
}

#MemberEventsPalette
{
    text-align: left;
    background: #2b5876;
    background: linear-gradient(to right, #2b5876a6, #4e4376a6);
}

/*'''''''''''''''''''''''SecondPalette/Header'''''''''''''''''''''''*/

.EventHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.EventHeaderButton
{
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../media/AddEvent.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
}

/*'''''''''''''''''''''''Create/Add Event Popup'''''''''''''''''''''''*/

.EventContainer
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(2px);
    top: 83px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.CreateEventHidden
{
    display: none;
}

.CreateEventVisible
{
    display: block;
}

.EventPane
{
    position:fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
    padding: 0px 0px 10px 0px;
}

#AddEventPane
{
    background: #1488cc;
    background: linear-gradient(to right, #1488cc, #2b32b2);
}

#CreateEventPane
{
    background: #1488cc;
    background: linear-gradient(to right, #852ee9, #3b16c4);
}


/*'''''''''''''''''''''''Second Palette Body'''''''''''''''''''''''*/

#StaffEventList
{padding: 10px;}

#MemberEventList
{padding: 10px;}

/*'''''''''''''''''''''''SecondPalette/Body/EventPalette'''''''''''''''''''''''*/

.EventPalette
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #0F2027;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    box-shadow: 5px 5px 5px  #0F2027;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

#StartEventButton
{
    background-color: #DC2424;
    background-image: linear-gradient(to right, #003849 0%, #087a9c  51%, #003849  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    
}

#StartEventButton:hover 
{
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

#ContactStaffIco
{
    width: 30px;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

#ContactStaffButton
{
    outline: none;
    border: 0;
}

#JoinEventButton
{
    background-color: #f46b45;
    background-image: linear-gradient(to right, #f46b45 0%, #eea849  51%, #f46b45  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

#JoinEventButton:hover 
{
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.EventButton
{
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

/*****************************************************************modify admin staff list table*/

#StaffList table
{
    width: 100%;
    background-color: rgb(93, 5, 134);
    border-radius: 5px;
    margin: 5px;
}

#StaffList thead td
{
    color: white;
    background-color: teal;
    text-align: center;
}

.ColStaffName
{
    width: 60%;
    color:rgb(255, 255, 255);
}

.ColStaffEmail
{
    width: 40%;
    color:white;
}

.PaletteVisible
{
    display: block;
}

.PaletteHidden
{
    display: none;
}

/*****************************Common Classes**************************************/

.DashboardSubheading1
{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.DashboardSubheading2
{
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.DashboardSubheading3
{
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

/**********************************Mobile/Dark Theme***********************************************/

@media (prefers-color-scheme: dark) {
    /*----------------------------------Body-------------------------------------------*/
    #DashboardAdmin
    {
        background-color: rgb(25, 25, 25);
        background-image: url("../../media/Arts/dashboard-admin-mobile-dark.jpg");
    }

    #DashboardStaff
    {
        background-color: rgb(25, 25, 25);
        background-image: url("../../media/Arts/dashboard-staff-mobile-dark.jpg");
    }

    #DashboardMember
    {
        background-color: rgb(25, 25, 25);
        background-image: url("../../media/Arts/dashboard-member-mobile-dark.jpg");
    }

    /*----------------------------------First Palette-------------------------------------------*/
    .ContentHeading
    {
        color: white;
    }

    /*----------------------------------Second Palette-------------------------------------------*/
    /*'''''''''''''''''''''''SecondPalette/Header'''''''''''''''''''''''*/
    /*'''''''''''''''''''''''Create/Add Event Popup'''''''''''''''''''''''*/
    /*'''''''''''''''''''''''Second Palette Body'''''''''''''''''''''''*/
    /*'''''''''''''''''''''''SecondPalette/Body/EventPalette'''''''''''''''''''''''*/
    /*****************************Common Classes**************************************/
}

/**********************************Desktop***********************************************/

@media only screen and (min-width: 768px)
{
    /*----------------------------------Body-------------------------------------------*/
    #DashboardAdmin
    {
        background-color: white;
        background-image: url("../../media/Arts/dashboard-admin-desktop.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; 
    }

    #DashboardStaff
    {
        background-color: white;
        background-image: url("../../media/Arts/dashboard-staff-desktop.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; 
    }

    #DashboardMember
    {
        background-color: white;
        background-image: url("../../media/Arts/dashboard-member-desktop.jpg");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat; 
    }

    /*----------------------------------First Palette-------------------------------------------*/
    .ContentHeading
    {
        font-size: 3em;
    }

    /*----------------------------------Second Palette-------------------------------------------*/
    /*'''''''''''''''''''''''SecondPalette/Header'''''''''''''''''''''''*/
    /*'''''''''''''''''''''''Create/Add Event Popup'''''''''''''''''''''''*/
    .EventPane
    {
        width: 500px;
    }

    /*'''''''''''''''''''''''Second Palette Body'''''''''''''''''''''''*/
    .EventList
    {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*'''''''''''''''''''''''SecondPalette/Body/EventPalette'''''''''''''''''''''''*/
    .EventPalette
    {
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 120px;
        margin: 10px 10px 10px 10px;
    }

    .EventPaletteHeader
    {
        text-align: center;
    }

    .EventPaletteFooter
    {
        text-align: center;
        width: 100%;
        border-top: rgb(255, 255, 255) solid 1px;
        padding-top: 15px;
    }

    /*****************************Common Classes**************************************/
    .DashboardSubheading1
    {
        font-size: 2em;
        font-weight: bold;
    }

    .DashboardSubheading2
    {
        font-size: 1.5em;
    }

    .DashboardSubheading3
    {
        font-size: 1em;
    }

    /**********************************Desktop/Dark Theme***********************************************/
    @media (prefers-color-scheme: dark) {
        #DashboardAdmin
        {
            background-color: rgb(25, 25, 25);
            background-image: url("../../media/Arts/dashboard-admin-desktop-dark.jpg");
        }

        #DashboardStaff
        {
            background-color: rgb(25, 25, 25);
            background-image: url("../../media/Arts/dashboard-staff-desktop-dark.jpg");
        }

        #DashboardMember
        {
            background-color: rgb(25, 25, 25);
            background-image: url("../../media/Arts/dashboard-member-desktop-dark.jpg");
        }
        /*----------------------------------First Palette-------------------------------------------*/
        /*----------------------------------Second Palette-------------------------------------------*/
        /*'''''''''''''''''''''''SecondPalette/Header'''''''''''''''''''''''*/
        /*'''''''''''''''''''''''Create/Add Event Popup'''''''''''''''''''''''*/
        /*'''''''''''''''''''''''Second Palette Body'''''''''''''''''''''''*/
        /*'''''''''''''''''''''''SecondPalette/Body/EventPalette'''''''''''''''''''''''*/
        /*****************************Common Classes**************************************/
    }
}