#GlobalHeader
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*-------------------------------------------------Mobile Drawer Button------------------------------------------------------------*/

#MobileDrawer
{
    display: block;
    margin: 20px 10px 20px 10px;
    order: 0;
}

.MenuButton
{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    outline: none;
    background-image: url("../../media/hamburger.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.MenuButtonClicked
{
    background-image: url("../../media/hamburger-close.png");
}

/*-------------------------------------------Header Title------------------------------------------------------*/
#WebTitle
{
    display: block;
    margin: 20px 10px 20px 10px;
    order: 1;
}

#HeaderIcon
{
    display: inline-block;
    background-image: url("../../media/WebIcon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#HeaderTitle
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 1.5em;
    font-family: Georgia, serif;
}

/*-----------------------------------------------Navigation--------------------------------------------------------*/
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.WebNav
{
    display: none;
    position: absolute;
    z-index: 3; 
    top: 83px;
    height: 100%;
    width: 50%;
    min-width: fit-content;
    padding-top: 50px; 
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    animation: slide-in 0.4s ease-out;
    word-wrap: break-word;
    overflow: auto;
}

.MobileMenu
{
    display: block;
}

.NavItem
{
    display: block;
    text-align: center;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.NavItem:hover
{
    background-color: rgb(74, 153, 116);
    color:white;
    border-radius: 8px;
    text-decoration: none;
}

#GlobalNav .active
{
    pointer-events: none;
    border-radius: 8px;
    background-color: rgba(175, 24, 24, 0.829);
    color: white;
}

/*-----------------------------------------------User--------------------------------------------------------------------*/
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#DesktopUser
{
    display: none;
}

#MobileUser
{
    display: block;
    order: 2;
    margin-right: 20px;
    text-align: center;
    height: 80px;
}

.UserIcon
{
    background-image: url("../../media/UserLogo1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 15px 0px 15px 0px; /*force aligning user icon as parent is not flex unlike case of dekstop*/
}

#LoginRegPaneMobile
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    top: 80px;
    right: 10px;
    animation: slide-down 0.4s ease-out;
}

.LoginRegPaneNotVisible
{
    display: none;
}

.LoginRegPaneVisible
{
    display: block;
}

.PaneHeading
{
    font-size: 1.5em;
    color:white;
}

.PaneItem
{
    display: block;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
}

.PaneItem:hover
{
    background-color: rgba(223, 182, 0, 0.671);
}
.PaneItem:visited, .PaneItem:active
{
    text-decoration: none;
}

#LoginRegPaneMobile .active
{
    pointer-events: none;
    border-radius: 8px;
    background-color: rgb(247, 140, 0);
}

#LoginRegPaneDesktop .active
{
    pointer-events: none;
    border-radius: 8px;
    background-color: rgb(247, 140, 0);
}

.LogoutButton
{   
    display: inline-block;
    background-image: linear-gradient(to right, #830101 0%, #f71212  60%, #a80404  100%);
    background-size: 200% auto;
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.LogoutButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/*===================================================DarkMode=================================================================*/

@media (prefers-color-scheme: dark) {
    #GlobalHeader
    {
        background-color: rgb(25, 25, 25);
        color: white;
    }

    .WebNav
    {
        background-color: rgba(25, 25, 25, 0.664);
    }

    .NavItem
    {
        color: white;
    }

    .MenuButton
    {
        background-image: url("../../media/hamburger-dark.png");
    }

    .MenuButtonClicked
    {
        background-image: url("../../media/hamburger-close-dark.png");
    }
}

/***********************************************Desktop Layout****************************************************************/

@media only screen and (min-width: 768px)
{
    #MobileDrawer
    {
        display: none;
    }

    #WebTitle
    {
        order: 0;
    }

    #HeaderIcon
    {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 10px;
    }
    /*---------------------------------Navigation----------------------------------------*/
    .WebNav
    {
        display: flex;
        width: fit-content;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        position: static;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background-color: inherit;
        margin-right: 30px;
        overflow: unset;
    }

    .NavItem
    {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    /*------------------------------UserLoginReg----------------------------------------------*/
    #DesktopUser
    {
        display: block;
        text-align: center;
        height: 62px;
    }

    #MobileUser
    {
        display: none;
    }

    .UserIcon
    {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin: 0px 20px 0px 20px;
    }

    #LoginRegPaneDesktop
    {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.699);
        border-radius: 5px 5px 5px 5px;
        width: 200px;
        top: 60px;
        right: 0px;
        animation: slide-down 0.4s ease-out;
    }

    .PaneHeading
    {
        font-size: 1.5em;
    }

    .PaneItem
    {
        display: block;
        color: white;
        font-size: 1em;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px 5px 5px 5px;
    }

    .PaneItem:hover
    {
        background-color: rgba(223, 182, 0, 0.671);
    }
    .PaneItem:visited, .PaneItem:active
    {
        text-decoration: none;
    }
}